awsLambda/lambda/Inspec_Classification-original.dtd

<!--

*******************************************************************************
*******************************************************************************


	DTD Name:-                      Inspec_Classification.dtd
	========                        =========================

	Author:-                        Inspec
	======                          ======

	Date:-                          2nd April 2004
	====                            ==============

	Version:-                       1.0
	=======                         ===

	Function:-
	========

		   Inspec XML Output DTD for Classification File
		   *********************************************

	This DTD is used as a basis for transferring the Inspec 
	Classification data in XML to outside users.

*******************************************************************************
*******************************************************************************

			  M O D I F I C A T I O N S     
			  =========================     

*******************************************************************************
*******************************************************************************


Date:-          
====

Modification    
============


*******************************************************************************
*******************************************************************************


		      PUBLIC ENTITY DECLARATION SECTION
		      *********************************

*******************************************************************************

-->


<!-- ENTITY % inspclas "inspclas" - document type generic identifier    -->

<!--                                                                    -->
<!--                        Inspec Entity Set                           -->
<!--                        *****************                           -->
<!--                                                             	      -->
<!--                                                              	-->
<!ENTITY Aacute   "Aacute">     	<!-- A acute                        -->
<!ENTITY Acirc    "Acirc">     	<!-- A circumflex		            -->
<!ENTITY Agrave   "Agrave">     	<!-- A grave                        -->
<!ENTITY Atilde   "Atilde">     	<!-- A tilde                        -->
<!ENTITY Auml     "Auml">     	<!-- A dieresis or umlaut           -->
<!ENTITY Ccedil   "Ccedil">     	<!-- C cedilla                      -->
<!ENTITY Eacute   "Eacute">     	<!-- E acute                        -->
<!ENTITY Ecirc    "Ecirc">     	<!-- E circumflex                   -->
<!ENTITY Egrave   "Egrave">     	<!-- E grave                        -->
<!ENTITY Euml     "Euml">     	<!-- E dieresis or umlaut           -->
<!ENTITY Iacute   "Iacute">     	<!-- I acute                        -->
<!ENTITY Icirc    "Icirc">     	<!-- I circumflex                   -->
<!ENTITY Igrave   "Igrave">     	<!-- I grave                        -->
<!ENTITY Iuml     "Iuml">     	<!-- I dieresis or umlaut           -->
<!ENTITY Ntilde   "Ntilde">     	<!-- N tilde                        -->
<!ENTITY Oacute   "Oacute">     	<!-- O acute                        -->
<!ENTITY Ocirc    "Ocirc">     	<!-- O circumflex                   -->
<!ENTITY Ograve   "Ograve">     	<!-- O grave                        -->
<!ENTITY Otilde   "Otilde">     	<!-- O tilde                        -->
<!ENTITY Ouml     "Ouml">     	<!-- O dieresis or umlaut           -->
<!ENTITY Uacute   "Uacute">     	<!-- U acute                        -->
<!ENTITY Ucirc    "Ucirc">     	<!-- U circumflex                   -->
<!ENTITY Ugrave   "Ugrave">     	<!-- U grave                        -->
<!ENTITY Uuml     "Uuml">     	<!-- U dieresis or umlaut           -->
<!ENTITY Yacute   "Yacute">     	<!-- Y acute                        -->
<!ENTITY aacute   "aacute">     	<!-- a acute                        -->
<!ENTITY acirc    "acirc">     	<!-- a circumflex                   -->
<!ENTITY agrave   "agrave">     	<!-- a grave                        -->
<!ENTITY atilde   "atilde">     	<!-- a tilde                        -->
<!ENTITY auml     "auml">     	<!-- a dieresis or umlaut           -->
<!ENTITY eacute   "eacute">     	<!-- e acute                        -->
<!ENTITY ecirc    "ecirc">     	<!-- e circumflex                   -->
<!ENTITY egrave   "egrave">     	<!-- e grave                        -->
<!ENTITY euml     "euml">     	<!-- e dieresis or umlaut           -->
<!ENTITY iacute   "iacute">     	<!-- a acute                        -->
<!ENTITY icirc    "icirc">     	<!-- a circumflex                   -->
<!ENTITY igrave   "igrave">     	<!-- a grave                        -->
<!ENTITY iuml     "iuml">     	<!-- a dieresis or umlaut           -->
<!ENTITY oacute   "oacute">     	<!-- o acute                        -->
<!ENTITY ocirc    "ocirc">     	<!-- o circumflex                   -->
<!ENTITY ograve   "ograve">     	<!-- o grave                        -->
<!ENTITY otilde   "otilde">     	<!-- o tilde                        -->
<!ENTITY ouml     "ouml">     	<!-- o dieresis or umlaut           -->
<!ENTITY uacute   "uacute">     	<!-- u acute                        -->
<!ENTITY ucirc    "ucirc">     	<!-- u circumflex                   -->
<!ENTITY ugrave   "ugrave">     	<!-- u grave                        -->
<!ENTITY uuml     "uuml">     	<!-- u dieresis or umlaut           -->
<!ENTITY yacute   "yacute">     	<!-- y acute                        -->
<!ENTITY yuml     "yuml">     	<!-- y dieresis or umlaut           -->
<!ENTITY acute    "acute">     	<!-- ACUTE                          -->
<!ENTITY aelig    "aelig">     	<!-- ae diphthong                   -->
<!ENTITY AElig    "AElig">     	<!-- AE DIPHTHONG                   -->
<!ENTITY Afr      "Afr">     		<!-- G/A                            -->
<!ENTITY aleph    "aleph">     	<!-- ALEPH                          -->
<!ENTITY alpha    "alpha">     	<!-- alpha                          -->
<!ENTITY and      "and">     		<!-- Logical AND (V-PROD)           -->
<!ENTITY ang      "ang">     		<!-- ANGLE                          -->
<!ENTITY ang90    "ang90">     	<!-- RIGHT ANGLE                    -->
<!ENTITY ap       "ap">     		<!-- APX=/2                         -->
<!ENTITY aring    "aring">     	<!-- angstrom a                     -->
<!ENTITY Aring    "Aring">     	<!-- ANGSTROM A                     -->
<!ENTITY Ascr     "Ascr">     	<!-- SCRIPT A                       -->
<!ENTITY becaus   "becaus">     	<!-- BECAUSE                        -->
<!ENTITY bepsi    "bepsi">		<!-- SUCH THAT                      -->
<!ENTITY beta     "beta">		<!-- beta                           -->
<!ENTITY Bfr      "Bfr">		<!-- G/B                            -->
<!ENTITY breve    "breve">		<!-- BREVE                          -->
<!ENTITY Bscr     "Bscr">		<!-- SCRIPT B                       -->
<!ENTITY bumpe    "bumpe">		<!-- APX=/5                         -->
<!ENTITY cap      "cap">		<!-- INTERSECTION                   -->
<!ENTITY capped   "capped">		<!-- CAPPED                         -->
<!ENTITY caron    "caron">		<!-- CZ/V                           -->
<!ENTITY ccedil   "ccedil">		<!-- c-cedilla                      -->
<!ENTITY cedil    "cedil">		<!-- CEDILLA                        -->
<!ENTITY Cfr      "Cfr">		<!-- G/C                            -->
<!ENTITY chi      "chi">		<!-- chi                            -->
<!ENTITY circ     "circ">		<!-- C/FLEX                         -->
<!ENTITY cong     "cong">		<!-- CONGRUENT                      -->
<!ENTITY conint   "conint">		<!-- CON. INTGL                     -->
<!ENTITY Conint   "Conint">		<!-- D.CON.INTGL                    -->
<!ENTITY Copf     "Copf">		<!-- Copf                           -->
<!ENTITY copy     "copy">		<!-- COPYRIGHT                      -->
<!ENTITY Cscr     "Cscr">		<!-- SCRIPT C                       -->
<!ENTITY cup      "cup">		<!-- UNION                          -->
<!ENTITY dagger   "dagger">		<!-- DAGGER                         -->
<!ENTITY Dagger   "Dagger">		<!-- DBL DAGGER                     -->
<!ENTITY darr     "darr">		<!-- ARROW DOWN                     -->
<!ENTITY Dashv    "Dashv">		<!-- ENCODEDBY                      -->
<!ENTITY dashv    "dashv">		<!-- IMPLIED                        -->
<!ENTITY dasia    "dasia">		<!-- DASIA                          -->
<!ENTITY deg      "deg">		<!-- DEGREES                        -->
<!ENTITY delta    "delta">		<!-- delta                          -->
<!ENTITY Delta    "Delta">		<!-- DELTA                          -->
<!ENTITY Dfr      "Dfr">		<!-- G/D                            -->
<!ENTITY diam     "diam">		<!-- DIAMOP                         -->
<!ENTITY diams    "diams">		<!-- DIAMOP                         -->
<!ENTITY die      "die">		<!-- Diarasis                       -->
<!ENTITY divide   "divide">		<!-- DIVIDE                         -->
<!ENTITY dot      "dot">		<!-- OVER.                          -->
<!ENTITY Dscr     "Dscr">		<!-- SCRIPT D                       -->
<!ENTITY dstrok   "dstrok">		<!-- slashed d                      -->
<!ENTITY Dstrok   "Dstrok">		<!-- SLASHED D                      -->
<!ENTITY eDot     "eDot">		<!-- APX=/4                         -->
<!ENTITY Efr      "Efr">		<!-- G/E                            -->
<!ENTITY epsi     "epsi">		<!-- epsilon'                       -->
<!ENTITY epsiv    "epsiv">		<!-- epsilon                        -->
<!ENTITY equiv    "equiv">		<!-- IDENT                          -->
<!ENTITY Escr     "Escr">		<!-- SCRIPT E                       -->
<!ENTITY esdot    "esdot">		<!-- APPCH LIM                      -->
<!ENTITY eta      "eta">		<!-- eta                            -->
<!ENTITY euro     "euro">		<!-- Euro                           -->
<!ENTITY exist    "exist">		<!-- EXISTS                         -->
<!ENTITY female   "female">		<!-- FEMALE                         -->
<!ENTITY Ffr      "Ffr">		<!-- G/F                            -->
<!ENTITY forall   "forall">         <!-- FOR ALL                        -->
<!ENTITY frac1116 "frac1116">       <!-- 11/16                          -->
<!ENTITY frac116  "frac116">        <!-- 1/16                           -->
<!ENTITY frac12   "frac12">         <!-- 1/2                            -->
<!ENTITY frac1316 "frac1316">       <!-- 13/16                          -->
<!ENTITY frac14   "frac14">         <!-- 1/4                            -->
<!ENTITY frac1516 "frac1516">       <!-- 15/16                          -->
<!ENTITY frac18   "frac18">         <!-- 1/8                            -->
<!ENTITY frac316  "frac316">        <!-- 3/16                           -->
<!ENTITY frac34   "frac34">         <!-- 3/4                            -->
<!ENTITY frac38   "frac38">         <!-- 3/8                            -->
<!ENTITY frac516  "frac516">        <!-- 5/16                           -->
<!ENTITY frac58   "frac58">         <!-- 5/8                            -->
<!ENTITY frac716  "frac716">        <!-- 7/16                           -->
<!ENTITY frac78   "frac78">         <!-- 7/8                            -->
<!ENTITY frac916  "frac916">        <!-- 9/16                           -->
<!ENTITY Fscr     "Fscr">          	<!-- SCRIPT F                       -->
<!ENTITY gamma    "gamma">          <!-- gamma                          -->
<!ENTITY Gamma    "Gamma">		<!-- GAMMA                          -->
<!ENTITY ges      "ges">		<!-- greater than OR =              -->
<!ENTITY Gfr      "Gfr">		<!-- G/G                            -->
<!ENTITY grave    "grave">		<!-- GRAVE                          -->
<!ENTITY Gscr     "Gscr">		<!-- SCRIPT G                       -->
<!ENTITY gsim     "gsim">		<!-- greater than /EQUIV            -->
<!ENTITY Gt       "Gt">			<!-- MUCH greater than              -->
<!ENTITY harr     "harr">		<!-- INTERCH                        -->
<!ENTITY hArr     "hArr">		<!-- DBL^LR                         -->
<!ENTITY hellip   "hellip">		<!-- ...                            -->
<!ENTITY herma    "herma">		<!-- HERMAPHRODITE                  -->
<!ENTITY Hfr      "Hfr">		<!-- G/H                            -->
<!ENTITY Hscr     "Hscr">		<!-- SCRIPT H                       -->
<!ENTITY iexcl    "iexcl">		<!-- SPANISH !                      -->
<!ENTITY Ifr      "Ifr">		<!-- G/I                            -->
<!ENTITY imped    "imped">		<!-- SLASHED Z                      -->
<!ENTITY infin    "infin">		<!-- INFINITY                       -->
<!ENTITY inodot   "inodot">		<!-- dotless i                      -->
<!ENTITY int      "int">		<!-- INTGL                          -->
<!ENTITY iota     "iota">		<!-- iota                           -->
<!ENTITY iquest   "iquest">		<!-- SPANISH ?                      -->
<!ENTITY Iscr     "Iscr">		<!-- SCRIPT I                       -->
<!ENTITY isin     "isin">		<!-- ELEMENT                        -->
<!ENTITY Jfr      "Jfr">		<!-- G/J                            -->
<!ENTITY Jscr     "Jscr">		<!-- SCRIPT J                       -->
<!ENTITY kappa    "kappa">		<!-- kappa                          -->
<!ENTITY Kfr      "Kfr">		<!-- G/K                            -->
<!ENTITY Kscr     "Kscr">		<!-- SCRIPT K                       -->
<!ENTITY lambda   "lambda">		<!-- lambda                         -->
<!ENTITY Lambda   "Lambda">		<!-- LAMBDA                         -->
<!ENTITY lang     "lang">		<!-- OPEN ANG. BRACK                -->
<!ENTITY larr     "larr">		<!-- L^                             -->
<!ENTITY lArr     "lArr">		<!-- DBL^L                          -->
<!ENTITY lceil    "lceil">		<!-- UBNDO                          -->
<!ENTITY ldquo    "ldquo">		<!-- OPEN"                          -->
<!ENTITY ldr      "ldr">		<!-- LDR.                           -->
<!ENTITY les      "les">		<!-- less than OR =                 -->
<!ENTITY lfloor   "lfloor">		<!-- LBNDO                          -->
<!ENTITY Lfr      "Lfr">		<!-- G/L                            -->
<!ENTITY lowbar   "lowbar">		<!-- _                              -->
<!ENTITY lrarr2   "lrarr2">		<!-- ^^TOPL                         -->
<!ENTITY lrhar2   "lrhar2">		<!-- HALF^^TOPL                     -->
<!ENTITY lscr     "lscr">		<!-- SCRIPT l                       -->
<!ENTITY Lscr     "Lscr">		<!-- SCRIPT L                       -->
<!ENTITY lsim     "lsim">		<!-- less than/EQUIV                -->
<!ENTITY lstrok   "lstrok">		<!-- slashed l                      -->
<!ENTITY Lstrok   "Lstrok">		<!-- SLASHED L                      -->
<!ENTITY Lt       "Lt">			<!-- MUCH less than                 -->
<!ENTITY macr     "macr">		<!-- ~                              -->
<!ENTITY male     "male">		<!-- MALE                           -->
<!ENTITY mdash    "mdash">		<!-- EM-                            -->
<!ENTITY Mfr      "Mfr">		<!-- G/M                            -->
<!ENTITY middot   "middot">		<!-- CENTRE.                        -->
<!ENTITY minus    "minus">		<!-- MINUS                          -->
<!ENTITY mnplus   "mnplus">		<!-- -OR+                           -->
<!ENTITY Mscr     "Mscr">		<!-- SCRIPT M                       -->
<!ENTITY mu       "mu">			<!-- mu                             -->
<!ENTITY nabla    "nabla">		<!-- NABLA                          -->
<!ENTITY ndash    "ndash">		<!-- EN-                            -->
<!ENTITY ndashv   "ndashv">		<!-- NIMPLIED                       -->
<!ENTITY ne       "ne">			<!-- NOT=                           -->
<!ENTITY nearr    "nearr">		<!-- NE^                            -->
<!ENTITY nexist   "nexist">		<!-- N-EXISTS                       -->
<!ENTITY Nfr      "Nfr">		<!-- G/N                            -->
<!ENTITY ngt      "ngt">		<!-- NOT greater than               -->
<!ENTITY nland    "nland">     	<!-- ANGLE OVER (N-ary logical AND) -->
<!ENTITY nlt      "nlt">		<!-- NOT less than                  -->
<!ENTITY Nopf     "Nopf">		<!-- Nopf                           -->
<!ENTITY not      "not">		<!-- NOT                            -->
<!ENTITY notin    "notin">		<!-- N-ELEMENT                      -->
<!ENTITY npar     "npar">		<!-- NOT //EL                       -->
<!ENTITY Nscr     "Nscr">		<!-- SCRIPT N                       -->
<!ENTITY nsub     "nsub">		<!-- N-CONTAINED                    -->
<!ENTITY nsube    "nsube">		<!-- NSUBE                          -->
<!ENTITY nsup     "nsup">		<!-- N-CONTAINS                     -->
<!ENTITY nsupe    "nsupe">		<!-- NSUPE                          -->
<!ENTITY nthroot  "nthroot">		<!-- NTH.ROOT                       -->
<!ENTITY ntilde   "ntilde">		<!-- n-tilde                        -->
<!ENTITY nu       "nu">			<!-- nu                             -->
<!ENTITY nvdash   "nvdash">		<!-- NIMPLIES                       -->
<!ENTITY nwarr    "nwarr">		<!-- NW^                            -->
<!ENTITY oarr     "oarr">		<!-- OVER^                          -->
<!ENTITY odot     "odot">		<!-- CIRCLED .                      -->
<!ENTITY oelig    "oelig">		<!-- oe diphthong                   -->
<!ENTITY OElig    "OElig">		<!-- OE DIPHTHONG                   -->
<!ENTITY Ofr      "Ofr">		<!-- G/O                            -->
<!ENTITY ogr      "ogr">		<!-- omicron                        -->
<!ENTITY omega    "omega">		<!-- omega                          -->
<!ENTITY Omega    "Omega">		<!-- OMEGA                          -->
<!ENTITY ogr      "ogr">		<!-- omicron                        -->
<!ENTITY omicron  "omicron">		<!-- omicron                        -->
<!ENTITY ominus   "ominus">		<!-- CIRCLED -                      -->
<!ENTITY oplus    "oplus">		<!-- CIRCLED +                      -->
<!ENTITY or       "or">			<!-- VEL                            -->
<!ENTITY Oscr     "Oscr">		<!-- SCRIPT O                       -->
<!ENTITY oslash   "oslash">		<!-- slashed o                      -->
<!ENTITY Oslash   "Oslash">		<!-- SLASHED O                      -->
<!ENTITY otimes   "otimes">		<!-- CIRCLED X                      -->
<!ENTITY par      "par">		<!-- //EL                           -->
<!ENTITY para     "para">		<!-- PARA SYMB                      -->
<!ENTITY part     "part">		<!-- pdelta                         -->
<!ENTITY perp     "perp">		<!-- PERP TO                        -->
<!ENTITY Pfr      "Pfr">		<!-- G/P                            -->
<!ENTITY phi      "phi">		<!-- phi                            -->
<!ENTITY Phi      "Phi">		<!-- PHI                            -->
<!ENTITY pi       "pi">			<!-- pi                             -->
<!ENTITY Pi       "Pi">			<!-- PI                             -->
<!ENTITY planck   "planck">		<!-- slashed h                      -->
<!ENTITY plusmn   "plusmn">		<!-- +OR-                           -->
<!ENTITY pound    "pound">		<!-- #                              -->
<!ENTITY prop     "prop">		<!-- VARIES AS                      -->
<!ENTITY Pscr     "Pscr">		<!-- SCRIPT P                       -->
<!ENTITY psi      "psi">		<!-- psi                            -->
<!ENTITY Psi      "Psi">		<!-- PSI                            -->
<!ENTITY psila    "psila">		<!-- PSILA                          -->
<!ENTITY Qfr      "Qfr">		<!-- G/Q                            -->
<!ENTITY Qopf     "Qopf">		<!-- Qopf                           -->
<!ENTITY Qscr     "Qscr">		<!-- SCRIPT Q                       -->
<!ENTITY radic    "radic">		<!-- ROOT                           -->
<!ENTITY rang     "rang">		<!-- CLOSE ANG. BRACK               -->
<!ENTITY rarr     "rarr">		<!-- R^                             -->
<!ENTITY rArr     "rArr">		<!-- DBL^R                          -->
<!ENTITY rceil    "rceil">		<!-- UBNDC                          -->
<!ENTITY rdquo    "rdquo">		<!-- CLOSE"                         -->
<!ENTITY reg      "reg">		<!-- REGISTER                       -->
<!ENTITY rfloor   "rfloor">		<!-- LBNDC                          -->
<!ENTITY Rfr      "Rfr">		<!-- G/R                            -->
<!ENTITY rho      "rho">		<!-- rho                            -->
<!ENTITY ring     "ring">		<!-- ANGSTROM                       -->
<!ENTITY rlarr2   "rlarr2">		<!-- ^^TOPR                         -->
<!ENTITY rlhar2   "rlhar2">		<!-- HALF^^TOPR                     -->
<!ENTITY Ropf     "Ropf">		<!-- Ropf                           -->
<!ENTITY Rscr     "Rscr">		<!-- SCRIPT R                       -->
<!ENTITY Sfr      "Sfr">		<!-- G/S                            -->
<!ENTITY sigma    "sigma">		<!-- sigma                          -->
<!ENTITY Sigma    "Sigma">		<!-- SIGMA                          -->
<!ENTITY sigmav   "sigmav">		<!-- S/SIGMA                        -->
<!ENTITY sime     "sime">		<!-- APX=/3                         -->
<!ENTITY slashz   "slashz">		<!-- slashed z                      -->
<!ENTITY sqsub    "sqsub">		<!-- SQSUB                          -->
<!ENTITY sqsup    "sqsup">		<!-- SQSUP                          -->
<!ENTITY square   "square">		<!-- SQUARE OP                      -->
<!ENTITY Sscr     "Sscr">		<!-- SCRIPT S                       -->
<!ENTITY sub      "sub">		<!-- IMPLIED BY                     -->
<!ENTITY subdot   "subdot">		<!-- INCLUDED                       -->
<!ENTITY sube     "sube">		<!-- CONTAINED                      -->
<!ENTITY subne    "subne">		<!-- SUBNE                          -->
<!ENTITY sup      "sup">		<!-- IMPLIES/1                      -->
<!ENTITY supdot   "supdot">		<!-- INCLUDES                       -->
<!ENTITY supe     "supe">		<!-- CONTAINS                       -->
<!ENTITY supne    "supne">		<!-- SUPNE                          -->
<!ENTITY szlig    "szlig">		<!-- german dbl s                   -->
<!ENTITY tau      "tau">		<!-- tau                            -->
<!ENTITY Tfr      "Tfr">		<!-- G/T                            -->
<!ENTITY there4   "there4">		<!-- THEREFORE                      -->
<!ENTITY Theta    "Theta">		<!-- THETA                          -->
<!ENTITY thetas   "thetas">		<!-- theta                          -->
<!ENTITY thetav   "thetav">		<!-- curly theta                    -->
<!ENTITY thorn    "thorn">		<!-- thorn                          -->
<!ENTITY THORN    "THORN">		<!-- THORN                          -->
<!ENTITY tilde    "tilde">		<!-- TILDE                          -->
<!ENTITY times    "times">		<!-- MULT                           -->
<!ENTITY trade    "trade">		<!-- TRADE                          -->
<!ENTITY Tscr     "Tscr">		<!-- SCRIPT T                       -->
<!ENTITY uarr     "uarr">		<!-- ^                              -->
<!ENTITY udarr    "udarr">		<!-- VERT DBL ARROWS L UP           -->
<!ENTITY udot     "udot">		<!-- UNDERDOT                       -->
<!ENTITY Ufr      "Ufr">		<!-- G/U                            -->
<!ENTITY uml      "uml">		<!-- OVER..                         -->
<!ENTITY upsi     "upsi">		<!-- upsilon                        -->
<!ENTITY Upsi     "Upsi">		<!-- UPSILON                        -->
<!ENTITY Uscr     "Uscr">		<!-- SCRIPT U                       -->
<!ENTITY utilde   "utilde">		<!-- UNDER TILDE                    -->
<!ENTITY vDash    "vDash">		<!-- ENCODES                        -->
<!ENTITY vdash    "vdash">		<!-- IMPLIES                        -->
<!ENTITY Vfr      "Vfr">		<!-- G/V                            -->
<!ENTITY Vscr     "Vscr">		<!-- SCRIPT V                       -->
<!ENTITY Wfr      "Wfr">		<!-- G/W                            -->
<!ENTITY Wscr     "Wscr">		<!-- SCRIPT W                       -->
<!ENTITY Xfr      "Xfr">		<!-- G/X                            -->
<!ENTITY xi       "xi">			<!-- xi                             -->
<!ENTITY Xi       "Xi">			<!-- XI                             -->
<!ENTITY Xscr     "Xscr">		<!-- SCRIPT X                       -->
<!ENTITY xutri    "xutri">		<!-- TRIANGLE                       -->
<!ENTITY Yfr      "Yfr">		<!-- G/Y                            -->
<!ENTITY Yscr     "Yscr">		<!-- SCRIPT Y                       -->
<!ENTITY zeta     "zeta">		<!-- zeta                           -->
<!ENTITY Zfr      "Zfr">		<!-- G/Z                       	-->
<!ENTITY Zopf     "Zopf">		<!-- Zopf                           -->
<!ENTITY Zscr     "Zscr">		<!-- SCRIPT Z               	      -->

<!--************************************************************************-->

<!--************************************************************************-->
<!--                                                                        -->
<!--                   Entity Naming Conventions                            -->
<!--                   *************************                            -->
<!--                                                                        -->
<!--		   Prefix = where used:                                         -->
<!--                                                                        -->
<!--     p.   = in paragraphs (also in phrases if .ph suffix)               -->
<!--     s.   = in sections (i.e. among paragraphs)                         -->
<!--     i.   = where allowed by inclusion exceptions                       -->
<!--     m.   = content model or declared content                           -->
<!--     a.   = attribute definition                                        -->
<!--     NONE = specific use defined in models                              -->
<!--                                                                        -->
<!--	       Suffix = allowed content:                                      -->
<!--                                                                        -->
<!--     .ph  = elements whose content is %p.em.ph;                         -->
<!--     .d   = elements whose content has same model as defaults           -->
<!--     NONE = individually defined elements                               -->
<!--                                                                        -->

<!-- ********************************************************************** -->

<!-- ********************************************************************** -->
<!--                    Specialized Elements                                -->
<!--************************************************************************-->

<!ENTITY % p.em.ph   "i|b|sub|sup">                  <!-- Emphasis          -->

<!ELEMENT  i                   (#PCDATA|%p.em.ph;)*> <!-- Italic            -->
<!ELEMENT  b                   (#PCDATA|%p.em.ph;)*> <!-- Bold              -->
<!ELEMENT  sub                 (#PCDATA|%p.em.ph;)*> <!-- Inferior          -->
<!ELEMENT  sup                 (#PCDATA|%p.em.ph;)*> <!-- Superior          -->

<!--************************************************************************-->

<!--                                                                        -->
<!--                   Main Element Definitions                             -->
<!--                   ************************                             -->
<!--                                                                        -->

<!--                                                                        -->
<!--       ELEMENTS     MIN     CONTENT (EXCEPTIONS)                        -->
<!--                                                                        -->
<!ELEMENT inspclas              (contg, (rec)*)>

<!--                                                                        -->
<!--                                                                        -->
<!--                                                                        -->
<!--                             Normal record                              -->
<!--                             *************                              -->

<!ELEMENT  contg      ( file, 
                            range,
                            date)>              <!-- Control group          -->

<!ELEMENT  rec        ( cc,
                            status,
                            level,
                            title,
                            scope?,
                            sacr?,
                            scr?,
                            hisg?,
                            futg?)>             <!-- Record                 -->

<!--                                                                        -->
<!--                            Element List                                -->
<!--                                                                        -->

<!ELEMENT  cc        (#PCDATA|%p.em.ph;)*>      <!-- Classification code    -->
<!ELEMENT  ccg       (#PCDATA|%p.em.ph;|cc)*>   <!-- Classif. code group    -->

<!ELEMENT  date      (day, mo, yr)>             <!-- Date of production     -->
<!ELEMENT  day       (#PCDATA)>                 <!-- Day                    -->

<!ELEMENT  eyr       (#PCDATA)>                 <!-- End year               -->

<!ELEMENT  file      (#PCDATA)>                 <!-- File description       -->
<!ELEMENT  fut       (yr, ccg?)*>               <!-- Future scope notes     -->
<!ELEMENT  futg      (fut)*>                    <!-- Future scope notes grp.-->

<!ELEMENT  hisg      (hist)*>                   <!-- Hist. scope notes grp. -->
<!ELEMENT  hist      (yr, ccg?)*>               <!-- History scope notes    -->

<!ELEMENT  level     (#PCDATA|%p.em.ph;)*>      <!-- Level                  -->
<!ELEMENT  link      (#PCDATA|%p.em.ph;)*>      <!-- Link to CCs            -->

<!ELEMENT  mo        (#PCDATA)>                 <!-- Month                  -->

<!ELEMENT  range     (syr, eyr?)>               <!-- Year ranges for prod.  -->

<!ELEMENT  sacr      (#PCDATA|%p.em.ph;|link)*> <!-- 'See also' X-ref       -->
<!ELEMENT  scope     (#PCDATA|%p.em.ph;)*>      <!-- Scope notes            -->
<!ELEMENT  scr       (#PCDATA|%p.em.ph;|link)*> <!-- 'See' X-ref            -->
<!ELEMENT  status    (#PCDATA)>                 <!-- Status                 -->
<!ELEMENT  syr       (#PCDATA)>                 <!-- Start year             -->

<!ELEMENT  title     (#PCDATA|%p.em.ph;)*>      <!-- Classification heading -->

<!ELEMENT  yr        (#PCDATA)>                 <!-- Year                   -->

<!--************************************************************************-->