eijava/eilib/src/org/ei/controller/content/ContentConfig.dtd


<!ELEMENT CONTENTCONFIG (AUTHGROUP*)>
<!ELEMENT AUTHGROUP (CONTENTDESCRIPTOR*)>
<!ATTLIST AUTHGROUP NAME CDATA #REQUIRED>
<!ELEMENT CONTENTDESCRIPTOR (ID, DATASOURCEURL, DISPLAYURL, MIMETYPE, ASYNCURL?)>
<!ATTLIST CONTENTDESCRIPTOR ASYNC (YES|NO) #REQUIRED>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT DATASOURCEURL (#PCDATA)>
<!ELEMENT DISPLAYURL (#PCDATA)>
<!ELEMENT MIMETYPE (#PCDATA)>
<!ELEMENT ASYNCURL (#PCDATA)>
